<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="thumbnail">
          <a href="http://www.ademe.fr">
            <img src={{ "/images/logo-ademe.svg" | prepend: site.baseurl }} alt="ademe">
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="http://www.univ-lille1.fr">
            <img width="100" src={{ "/images/logo-lille1.svg" | prepend: site.baseurl }} alt="lille1">
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://team.inria.fr/spirals">
            <img width="100" src={{ "/images/logo-spirals.svg" | prepend: site.baseurl }} alt="spirals">
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://www.cristal.univ-lille.fr">
            <img width="100" src={{ "/images/logo-cristal.svg" | prepend: site.baseurl }} alt="inria">
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://www.inria.fr">
            <img width="100" src={{ "/images/logo-inria.svg" | prepend: site.baseurl }} alt="inria">
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <p class="text-muted">
          &copy; All rights reserved, Maxime Colmant. Designed with <a href="http://bootswatch.com/">Bootstrap</a>, thanks to <a href="http://glyphicons.com/">Glyphicons</a>.
        </p>
      </div>
      <div class="col-md-2">
        <p class="text-muted">
          Last update : {{ site.last_update }}.
        </p>
      </div>
    </div>
  </div>
</div>
