<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <div class="thumbnail">
          <a href="http://mapwize.io">
            <img src={{ "/images/logo-mapwize.png" | prepend: site.baseurl }} alt="mapwize">
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <p class="text-muted">
          &copy; All rights reserved, Maxime Colmant. Designed with <a href="http://bootswatch.com/">Bootstrap</a>, thanks to <a href="http://glyphicons.com/">Glyphicons</a>.
        </p>
      </div>
      <div class="col-md-2">
        <p class="text-muted">
          Last update : {{ site.last_update }}.
        </p>
      </div>
    </div>
  </div>
</div>
