<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}" >
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/manifest.json" | prepend: site.baseurl }}" >
  <link rel="mask-icon" href="{{ "/assets/favicon/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/common.css" | prepend: site.baseurl }}">

  {% assign additional_css = page.additional_css | split: ';' %}
  {% for path in additional_css | split: ';' %}
    <link rel="stylesheet" href="{{ path | prepend: site.baseurl }}">
  {% endfor %}
</head>
